:root {
  --font: 'Lato', sans-serif;
  --font-size: 15px;
  --line-height: 26px;
  --font-weight: 100;
  --font-color: #ffffff;
  --bg-color: #d0343a;
  --link-color: #fffcda;
  --border-color: rgba(255,255,255,0.5);
  --progress-height: 24px; /* this should be a even number */
}

body {
    font-family: var(--font);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    background-color: var(--bg-color);
    color: var(--font-color);
}

div {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

p {
    margin: 5px 0;
}

h1, h2, h3 {
    font-weight: var(--font-weight);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 22px;
    padding: 0;
}

li {
    list-style-type: square;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: 400;
}

.center {
    text-align: center;
    width: 100%;
}

.flexbox {
    display: flex;
}

.border-bottom {
    border-bottom: 1px solid var(--border-color);
}

label {
    cursor: pointer;
}

div.app {
    display: flex;
    justify-content: center;
    align-content: center;
    width: calc(100vw - 42px);
    margin: 0;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

div.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}


div.logo {
    text-align: center;
    padding: 10px;
    width: 100%;
}

img.logo {
    max-width: 200px;
}

button {
    background-color: rgba(255,255,255,0.1);
    border: 0.5px solid #ffffff;
    padding: 0px;
    font-family: var(--font);
    font-size: var(--font-size);
    font-weight: 400;
    color: var(--font-color) !important;
    white-space: nowrap;
    display: inline-block;
    appearance: none;
    cursor: pointer;
    outline: 0;
    border-radius: 5px;
    margin: 10px 0;
    transition: width 500ms ease;
    position: relative;
    text-align: center;
}

button.register-button {
    width: 190px;
    height: 30px;
    overflow: hidden;
}

button.register-button.sending {
    width: 85px;
}

div.button-text {
    position: absolute;
    top: 5px;
    width: 100%;
}

div.button-text-enter-active {
    animation: button-text 500ms;
}

div.button-text-leave-active {
    animation: button-text-leave 500ms;
}


@keyframes button-text {
    0% {
        left: -100px;
    }
    100%   {
        left: 0;
    }
}

@keyframes button-text-leave {
    0% {
        left: 0;
    }
    100%   {
        left: 100px;
    }
}


input {
    font-family: var(--font);
    width: 100%;
    background-color: transparent;
    appearance: none;
    border: 0;
    border-bottom: 0.5px solid #ffffff;
    outline: none;
    color: var(--font-color);
    padding: 5px;
    font-size: var(--font-size);
    font-weight: 400;
}

input::placeholder {
    font-style: italic;
    color: rgba(255,255,255,0.8);
    text-align: center;
}

input[type=checkbox]:checked {
    background-color: rgba(255,255,255,1);
    border-color: var(--link-color);
}

input[type=checkbox] {
    z-index: 0;
    position: relative;
    padding: 0;
    margin: 0 5px 0 0;
    appearance: none;
    height: 22px !important;
    width: 22px !important;
    line-height: normal;
    top: 3px;
    border: 0.5px solid var(--font-color);
    background-color: rgba(255,255,255,0.25);
    border-radius: 3px;
}

.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: var(--bg-color);
}

.login-container {
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(200px, 300px);
    justify-content: center;
    align-content: center;
}

div.input-container {
    display: flex;
    overflow: hidden;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
}

div.input-block {
    padding: 10px 0;
    width: 100%;
}

div.input-name {
}

div.input-email {
}

div.label {
    flex: 1;
}

div.input {
    flex: 2;
}

div.event-info {
    padding-left: 15px;
    font-size: calc( var(--font-size) - 2px );
    line-height: calc( var(--font-size) + 2px);
    padding-bottom: 10px;
}

div.register {
    overflow: hidden;
}

div.registrtaion-form {
    overflow: hidden;
}

div.registration-complete {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0 !important;
    margin: 0 !important;
}

div.registration-info {
    display: flex;
    padding-bottom: 15px;
}

div.registration-info div.field {
    min-width: 50px;
    font-style: italic;
}

div.registration-info div.value {
    flex: 1;
    font-weight: 400;
}


div.progress-steps {
    display: flex;
    font-size: 12px;
    line-height: var(--progress-height);
    max-height: var(--progress-height);
    width: 100%;
    padding-right: 5px;
    font-weight: 300;
}

div.progress-item {
    flex: 1;
    text-align: center;
}

div.progress-bar {
    width: 100%;
    padding: 15px;
    position: relative;
}

div.progress-bg, div.progress-indicator {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 90%;
}

div.progress-slice {
    background-color: rgba(255,255,255,0.1);
    height: calc( var(--progress-height) / 2);
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    transition: width 500ms ease-out;
}

div.progress-slice-bg {
    background-color: rgba(255,255,255,0.15);
    height: calc( var(--progress-height) / 2);
}

div.progress-slice-bg {
    width: 100%;
}

div.progress-slice-top {
    transform: skewX(45deg);
}

div.progress-slice-top.progress-slice {
    border-top: 1px solid var(--border-color);
}

div.progress-slice-bottom {
    transform: skewX(-45deg);
}

div.progress-slice-bottom.progress-slice {
    border-bottom: 1px solid var(--border-color);
}

/* TRANSITIONS */

.fade-enter-active,
.fade-leave-active {
    transition: opacity 1s ease-out;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}


/* EXPANDER */

.expander-enter-active {
    animation: expander 5s ease-out;
}

.expander-leave-active {
    animation: expander-leave 1s
}

@keyframes expander  {
    0% {
        max-height: 0;
    }
    5% {
        max-height: 0;
    }
    100% {
        max-height: 100vh;
    }
}

@keyframes expander-leave  {
    0% {
        max-height: 100vh;
    }
    100% {
        max-height: 0;
    }
}

.progress-enter-active {
    animation: progress 750ms ease-out;
}

.progress-leave-active {
    animation: progress-leave 750ms;
}

@keyframes progress  {
    0% {
        max-height: 0;
    }
    50% {
        max-height: 0;
    }
    100% {
        max-height: 75px;
    }
}

@keyframes progress-leave  {
    0% {
        max-height: 75px;
    }
    100% {
        max-height: 0;
    }
}


/*
.expander-leave-active, .expander-enter-active {
    transition: max-height 1250ms ease-in-out;
    overflow: hidden;
}

.expander-enter, .expander-leave-to {
    max-height: 0;
    padding: 0;
}

.expander-enter-to, .expander-leave {
    max-height: calc(100vh - 22px);
}
*/

/* LIST */

.list-leave-active, .list-enter-active {
    transition: max-height 1250ms ease-in-out;
    overflow: hidden;
}

.list-enter, .list-leave-to {
    max-height: 0;
}

.list-enter-to, .list-leave {
    max-height: 75px;
}

/* BUTTON 

.button-leave-active, .button-enter-active {
    transition: max-height 250ms ease;
}

.button-enter, .button-leave-to {
    max-height: 0;
}

.button-enter-to, .button-leave {
    max-height: 80px;
}

*/

/* INITIAL */

.complete-enter-active {
    animation: complete 2s ease-out;
}

.complete-leave-active {
    animation: complete 2s reverse;
}

@keyframes complete  {
    0% {
        max-height: 0;
    }
    75% {
        max-height: 0;
    }
    100% {
        max-height: 225px;
    }
}


/*  AUTH */

.auth {
    height: 0;
    overflow: visible;
    position: absolute;
    right: 0;
    top: 0;
}

.auth-show {
    position: fixed;
    top: 0;
    right: 0;
    padding: 3px 5px 5px 5px;
    color: var(--link-color);
    cursor: pointer;
    opacity: 0;
    transition: opacity 250ms ease-out;
    line-height: normal;
    width: 15px;
    height: 15px;
}

.auth-show.hover {
    opacity: 1;
}


/* YOUTUBE */

iframe {
    opacity: 0;
    transition: opacity 250ms ease-out;
}

div.youtube-player {
    overflow: hidden;
    border-top: 1px solid var(--font-color);
    border-bottom: 1px solid var(--font-color);
    width: 100vw;
    height: 56.25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.youtube-transition-enter-active {
    animation: youtube 2s;
}

div.youtube-transition-leave-active {
    animation: youtube 2s reverse;
}

@keyframes youtube {
    0% {
        width: 0;
        height: 0;
    }
    50% {
        width: 100vw;
        height: 0;
    }
    100%   {
        width: 100vw;
        height: 56.25vw;
    }
}
